{% extends 'partials/base.html' %}
{% block tittle %}Password Change{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <div class="border p-3 bg-white">
            {% for message in messages %}
            {% if message %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endif %}
            {% endfor %}
            <h4>Password Change</h4>
            <hr>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-info" type="submit" value="Change Password">
            </form>
        </div>
    </div>
</div>

{% endblock %}