{% extends 'partials/base.html' %}
{% block tittle %}Reset Complete{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <div class="border p-3 bg-white">
            <h4>Reset Complete</h4>
            <hr>
            <div class="alert alert-info">
                <h5>Now you can log in with your new password.</h5>
            </div>
            <a class="btn btn-success" href="{% url 'login-user' %}" value="Login">Login</a>
        </div>
    </div>
</div>

{% endblock %}